body {
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}
html,
body {
  min-height: 100%;
}
h1 {
  margin-top: -125px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}

footer {
  text-align: center;
}
a {
  text-decoration: none;
}

#date {
  font-size: 17px;
  position: relative;
  top: -6px;
  margin-bottom: 60px;
}
#description {
  position: relative;
  right: -103px;
  bottom: -17px;
  font-size: 33px;
  text-transform: capitalize;
}

#temperture {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.project {
  background: linear-gradient(
    76.8deg,
    rgb(121, 45, 129) 3.6%,
    rgb(36, 31, 98) 90.4%
  );
  max-width: 800px;
  color: #fff;
  font-family: Palatino, URW Palladio L, serif;
  border-radius: 10px;
  width: 70%;
  padding: 111px;
  margin: 158px auto;
  border: 1px solid #fff;
  margin-bottom: 20px;
}

.formControl {
  padding: 0.375rem 0.75rem;
  width: 25%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: #dad4ec;
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.image .active {
  color: #fff;
  cursor: default;
}
.btn {
  font-size: 15px;
}
.unit {
  position: relative;
  top: -17px;
  font-size: 16px;
  font-style: normal;
}

.row {
  text-align: center;
  font-size: 25px;
  margin-bottom: -33px;
}
.heading-style {
  text-align: left;
  top: 10px;
}
.image {
  position: relative;
  top: -37px;
  right: 183px;
}

.search-bar {
  position: relative;
  top: -63px;
  right: -88px;
  text-align: right;
}

.list {
  list-style: none;
  font-size: 15px;
  font-style: normal;
  position: relative;
  left: 307px;
  top: -115px;
}

.weatherForcast {
  margin-top: 20px;
  text-align: center;
}

.forecastDay {
  font-size: 16px;
  color: #fff;
}
.weatherForecastMin {
  opacity: 0.6;
}

.forecastTemperture {
  font-size: 13px;
}
