.project {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 189, 189) 0%,
    rgb(255, 216, 168) 62%,
    rgb(255, 248, 168) 100.7%
  );
  font-family: "Black Ops One", cursive;
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  width: 70%;
  padding: 132px;
  margin: 30px auto;
}
h1 {
  margin-top: -22px;
}
h2 {
  margin-top: -1px;
}
p {
  position: relative;
  top: 90px;
}
footer {
  text-align: center;
}
.row {
  border-bottom: 1px solid white;
  margin: 40px 0;
  padding-bottom: 50px;
  text-align: center;
  font-size: 25px;
}
.weatherPreview {
  box-sizing: border-box;
  display: block;
}
.forecastDay {
  color: gray;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
}
.forecast-Temperture {
  color: gray;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.forecast-Temp1 {
  box-sizing: border-box;
  display: block;
}
.forecast-Temp2 {
  margin-left: 15px;
  opacity: 0.6;
}

#grid1 {
  margin-top: 50px;
}

.search-bar {
  text-align: center;
  position: relative;
  top: -63px;
}
