body {
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}
html,
body {
  min-height: 100%;
}
.project {
  background: linear-gradient(
    76.8deg,
    rgb(121, 45, 129) 3.6%,
    rgb(36, 31, 98) 90.4%
  );
  max-width: 800px;
  color: #fff;
  font-family: Palatino, URW Palladio L, serif;
  border-radius: 10px;
  width: 70%;
  padding: 132px;
  margin: 158px auto;
  border: 1px solid #fff;
  margin-bottom: 20px;
}

h1 {
  margin-top: -125px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}
h2 {
  margin-top: -1px;
}
p {
  position: relative;
  top: 90px;
}
footer {
  text-align: center;
}
img {
  margin-right: 20px;
}
#date {
  font-size: 17px;
  position: relative;
  top: -6px;
  margin-bottom: 60px;
}
#description {
  position: relative;
  right: -103px;
  bottom: -17px;
  font-size: 33px;
}
.searchStyle {
  text-align: right;
}
.formControl {
  padding: 0.375rem 0.75rem;
  width: 25%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: #dad4ec;
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn {
  font-size: 15px;
}
.unit {
  position: relative;
  top: -17px;
  font-size: 16px;
  font-style: normal;
}

.row {
  margin: 40px 0;
  padding-top: 45px;
  text-align: center;
  font-size: 25px;
  margin-bottom: -33px;
}
.heading-style {
  text-align: center;
  top: 10px;
}
.image {
  position: relative;
  top: -37px;
  right: 183px;
}

.weatherPreview {
  box-sizing: border-box;
  display: block;
}
.forecastDay {
  font-size: 20px;
  line-height: 35px;
  text-align: center;
}
.forecast-Temperture {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.forecast-Temp1 {
  box-sizing: border-box;
  display: block;
}
.forecast-Temp2 {
  margin-left: 15px;
  opacity: 0.6;
}

#grid1 {
  margin-top: -127px;
}
#temperture {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
.search-bar {
  position: relative;
  top: -63px;
  right: -88px;
}

.list {
  list-style: none;
  font-size: 15px;
  font-style: normal;
  position: relative;
  left: 307px;
  top: -115px;
}
